################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/1.-IWebDriverConfig/v17/.wsuo
/.vs/

/SeleniumInitialize_Builder/obj/
/SeleniumInitialize_Tests/bin/
/SeleniumInitialize_Tests/obj/
/SeleniumInitialize_Builder/obj/project.assets.json
/SeleniumInitialize_Builder/obj/project.nuget.cache
/SeleniumInitialize_Builder/obj/SeleniumInitialize_Builder.csproj.nuget.dgspec.json
/SeleniumInitialize_Builder/obj/SeleniumInitialize_Builder.csproj.nuget.g.props
/SeleniumInitialize_Tests/bin/Debug/net6.0/nunit_random_seed.tmp
/SeleniumInitialize_Tests/obj/project.assets.json
/SeleniumInitialize_Tests/obj/project.nuget.cache
/SeleniumInitialize_Tests/obj/SeleniumInitialize_Tests.csproj.nuget.dgspec.json
/SeleniumInitialize_Tests/obj/SeleniumInitialize_Tests.csproj.nuget.g.props
/Temp/obj/Debug/net8.0/Temp.AssemblyInfo.cs
/Temp/obj/Debug/net8.0/Temp.AssemblyInfoInputs.cache
/Temp/obj/Debug/net8.0/Temp.assets.cache
/Temp/obj/Debug/net8.0/Temp.GeneratedMSBuildEditorConfig.editorconfig
/Temp/obj/project.assets.json
/Temp/obj/project.nuget.cache
/Temp/obj/Temp.csproj.nuget.dgspec.json
/Temp/obj/Temp.csproj.nuget.g.props
